<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>BARNA TRUCK - FESTIVAL TRUCK IN BARCELONA</title>
      <link rel="icon" type="image/png" href="../img/miniLOGO-SINFONDO.png">
      <link rel="stylesheet" href="../css/styles.css">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   </head>
   <body>
      <div>
         <nav id="navbar" class="">
            <div class="nav-wrapper">
               <div class="logo">
                  <a href="../index.html">
                     <picture>
                        <source srcset="../img/miniLOGO.png" media="(max-width:640px)">
                        <img class="logo" src="../img/logo.png">
                     </picture>
                  </a>
               </div>
               <ul id="menu">
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="caliente.html">Calientes 🥵</a></li>
                  <li><a href="postres.html">Postres 🥶</a></li>
                  <li><a href="cervezas.html">Cervezas 🍺</a></li>
               </ul>
            </div>
         </nav>
      </div>
      <div class="menuIcon">
         <span class="icon icon-bars"></span>
         <span class="icon icon-bars overlay"></span>
      </div>
      <div class="overlay-menu">
         <ul id="menu">
            <li><a href="../index.html">Home</a></li>
            <li><a href="caliente.html">Calientes 🥵</a></li>
            <li><a href="postres.html">Postres 🥶</a></li>
            <li><a href="cervezas.html">Cervezas 🍺</a></li>
         </ul>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="sellers">Y AHORA LA MEJOR PARTE DE LA PELICULA... LA COMIDA ;)</h1>
      <br>
      <div class="four-column">
         <img src="../img/imgCALIENTES/carne.jpg" alt="">
         <div class="comida">
            <p>Argentina en la casa pah</p>
            <p>24,99€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgCALIENTES/hamburguesa.jpg" alt="">
         <div class="comida">
            <p>De EEUU a BCN en manos de La Porca</p>
            <p>9,99€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgCALIENTES/pollo.jpg" alt="">
         <div class="comida">
            <p>Las mejores pechugas de Los Pollos Hermano</p>
            <p>7,95€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgCALIENTES/taco.jpg" alt="">
         <div class="comida">
            <p>Los tacos mas famosos de Mexico estan en la ciudad condal</p>
            <p>4,50€</p>
         </div>
      </div>
      <!-- OTRAS 4 -->
      <div class="four-column">
         <img src="../img/imgCALIENTES/burguer1.jpg" alt="">
         <div class="comida">
            <p>Las hamburguesa de Foster Hollywood te dejaran sin palabras</p>
            <p>12,99€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgCALIENTES/carne2.jpg" alt="">
         <div class="comida">
            <p>Grandes asados Argentinos de Fabris que te dejaran con ganas de mas</p>
            <p>20,99€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgCALIENTES/taco2.jpg" alt="">
         <div class="comida">
            <p>Los tacos de estos hermanos colombianos son de pelicula</p>
            <p>3,99€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgCALIENTES/burguer2.jpg" alt="">
         <div class="comida">
            <p>El ganador de MasterChef nos presenta la competencia de Goiko</p>
            <p>12,99€</p>
         </div>
      </div>
   </body>
   <script src="../js/navmenu.js"></script>
</html>