<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>BARNA TRUCK - FESTIVAL TRUCK IN BARCELONA</title>
      <link rel="icon" type="image/png" href="../img/miniLOGO-SINFONDO.png">
      <link rel="stylesheet" href="../css/styles.css">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   </head>
   <body>
      <div>
         <nav id="navbar" class="">
            <div class="nav-wrapper">
               <div class="logo">
                  <a href="../index.html">
                     <picture>
                        <source srcset="../img/miniLOGO.png" media="(max-width:640px)">
                        <img class="logo" src="../img/logo.png">
                     </picture>
                  </a>
               </div>
               <ul id="menu">
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="participantes.html">Participantes</a></li>
                  <li><a href="caliente.html">Carta</a></li>
                  <li><a href="encuentranos.html">Encuentranos</a></li>
               </ul>
            </div>
         </nav>
      </div>
      <div class="menuIcon">
         <span class="icon icon-bars"></span>
         <span class="icon icon-bars overlay"></span>
      </div>
      <div class="overlay-menu">
         <ul id="menu">
            <li><a href="../index.html">Home</a></li>
            <li><a href="participantes.html">Participantes</a></li>
            <li><a href="caliente.html">Carta</a></li>
            <li><a href="encuentranos.html">Encuentranos</a></li>
         </ul>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="sellers">DONDE PUEDES ENCONTRARNOS?</h1>
      <br>
      <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11980.806054485329!2d2.0747653!3d41.3479735!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6d26bc238e0773a8!2sRCDE%20Stadium!5e0!3m2!1ses!2ses!4v1665174926997!5m2!1ses!2ses" width="96.5%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <br>
      <br>
      <br>
      <h1 class="sellers">HORARIO</h1>
   </body>
   <script src="../js/navmenu.js"></script>
</html>