<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>BARNA TRUCK - FESTIVAL TRUCK IN BARCELONA</title>
      <link rel="icon" type="image/png" href="../img/miniLOGO-SINFONDO.png">
      <link rel="stylesheet" href="../css/styles.css">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   </head>
   <body>
      <div>
         <nav id="navbar" class="">
            <div class="nav-wrapper">
               <!-- Navbar Logo -->
               <div class="logo">
                  <!-- Logo Placeholder for Inlustration -->
                  <a href="../index.html">
                     <picture>
                        <source srcset="../img/miniLOGO.png" media="(max-width:640px)">
                        <img class="logo" src="../img/logo.png">
                     </picture>
                  </a>
               </div>
               <!-- Navbar Links -->
               <ul id="menu">
                  <li><a href="../index.html">Home</a></li>
                  <!--
                     -->
                  <li><a href="participantes.html">Participantes</a></li>
                  <!--
                     -->
                  <li><a href="#">Carta</a></li>
                  <!--
                     -->
                  <li><a href="encuentranos.html">Encuentranos</a></li>
               </ul>
            </div>
         </nav>
      </div>
      <!-- Menu Icon -->
      <div class="menuIcon">
         <span class="icon icon-bars"></span>
         <span class="icon icon-bars overlay"></span>
      </div>
      <div class="overlay-menu">
         <ul id="menu">
            <li><a href="../index.html">Home</a></li>
            <li><a href="participantes.html">Participantes</a></li>
            <li><a href="#">Carta</a></li>
            <li><a href="encuentranos.html">Encuentranos</a></li>
         </ul>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="sellers">CONOCE A NUESTROS PARTICIPANTES:</h1>
      <br>
      <br>
      <div class="slideshow-container">
         <div class="mySlides fade">
            <div class="numbertext"></div>
            <img src="../img/imgSLIDER/sarria.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <div class="numbertext"></div>
            <img src="../img/imgSLIDER/porca.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <div class="numbertext"></div>
            <img src="../img/imgSLIDER/goiko.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <div class="numbertext"></div>
            <img src="../img/imgSLIDER/esquinica.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <div class="numbertext"></div>
            <img src="../img/imgSLIDER/miet.jpg" style="width:100%">
         </div>
         <div class="mySlides fade">
            <div class="numbertext"></div>
            <img src="../img/imgSLIDER/melosa.jpg" style="width:100%">
         </div>
      </div>
      <div class="botonesNONE">
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span>
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
      </div>
   </body>
   <script src="../js/navmenu.js"></script>
   <script src="../js/slider.js"></script>
</html>