<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>BARNA TRUCK - FESTIVAL TRUCK IN BARCELONA</title>
      <link rel="icon" type="image/png" href="../img/miniLOGO-SINFONDO.png">
      <link rel="stylesheet" href="../css/styles.css">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   </head>
   <body>
      <div>
         <nav id="navbar" class="">
            <div class="nav-wrapper">
               <div class="logo">
                  <a href="../index.html">
                     <picture>
                        <source srcset="../img/miniLOGO.png" media="(max-width:640px)">
                        <img class="logo" src="../img/logo.png">
                     </picture>
                  </a>
               </div>
               <ul id="menu">
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="caliente.html">Calientes</a></li>
                  <li><a href="postres.html">Postres</a></li>
                  <li><a href="cervezas.html">Cervezas</a></li>
               </ul>
            </div>
         </nav>
      </div>
      <div class="menuIcon">
         <span class="icon icon-bars"></span>
         <span class="icon icon-bars overlay"></span>
      </div>
      <div class="overlay-menu">
         <ul id="menu">
            <li><a href="../index.html">Home</a></li>
            <li><a href="caliente.html">Calientes</a></li>
            <li><a href="postres.html">Postres</a></li>
            <li><a href="cervezas.html">Cervezas</a></li>
         </ul>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="sellers">ES LA HORA DEL FINAL FELIZ... ;)</h1>
      <br>
      <div class="four-column">
         <img src="../img/imgPOSTRES/img1.jpg" alt="">
         <div class="comida">
            <p>Macarones de la pasteleria francesas Le Nuit</p>
            <p>8,99€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgPOSTRES/img2.jpg" alt="">
         <div class="comida">
            <p>La carrot cake de Gerard's</p>
            <p>5,99€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgPOSTRES/img3.jpg" alt="">
         <div class="comida">
            <p>Los helados de la gelateria Marcs</p>
            <p>2,99€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgPOSTRES/img4.jpg" alt="">
         <div class="comida">
            <p>Batidos de chocolates de Lind</p>
            <p>12,99€</p>
         </div>
      </div>
      <!-- OTRAS 4 -->
      <div class="four-column">
         <img src="../img/imgPOSTRES/img5.jpg" alt="">
         <div class="comida">
            <p>Las palomitas belgas de Honrys</p>
            <p>5,99€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgPOSTRES/img6.jpg" alt="">
         <div class="comida">
            <p>Tartas de limon de los hermanos Garcia</p>
            <p>5,99€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgPOSTRES/img7.jpg" alt="">
         <div class="comida">
            <p>Cheescake de Dinosarius de Josers, te la vas a perder?</p>
            <p>9,99€</p>
         </div>
      </div>
      <div class="four-column">
         <img src="../img/imgPOSTRES/img8.jpg" alt="">
         <div class="comida">
            <p>Las famosas cheescakes de John.</p>
            <p>5,99€</p>
         </div>
      </div>
   </body>
   <script src="../js/navmenu.js"></script>
</html>